.f-child,
.s-child,
.t-child {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
}


.first {
    background: red;
}

.second {
    background: green;
}

.third {
    background: yellow;
}

